<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="hr">
	<select id="getTeamList" resultType="memberDto">
		SELECT * FROM HR
		WHERE RESIGN_YN = 'N'
	</select>
	
	<select id="getDeptList" resultType="deptDto">
		SELECT * 
		FROM DEPARTMENT
		WHERE DEP_DEL = 'N'
        order by dep_name
	</select>
	
	<select id="cntDepName" resultType="int">
		SELECT COUNT(*) 
		FROM DEPARTMENT
		WHERE DEP_NAME = #{depName} and DEP_DEL = 'N'
	</select>
	
	<insert id="insertDept" parameterType="deptDto">
		INSERT INTO 
		DEPARTMENT (
					DEP_NO, 
					DEP_NAME
		) VALUES (
					SEQ_DEPARTMENT_DEP_NO.nextval, 
					#{depName}
		)
	</insert>
	
	<update id="updDeptName">
		UPDATE DEPARTMENT
		SET DEP_NAME = #{depChange}
		WHERE DEP_NAME = #{depName}
	</update>
	
	<update id="delDeptName">
		UPDATE DEPARTMENT
		SET DEP_DEL = 'Y'
		WHERE DEP_NAME = #{depName}
	</update>
	
	<!-- teamList 화면에 부서별 사원리스트 보여주기 -->
	<select id="getMemberListByDept" resultMap="memberFromDept">
		SELECT * 
		FROM HR
		WHERE DEP_NAME = #{deptName}
		AND RESIGN_YN = 'N'
	</select>
	
	<resultMap type="memberDto" id="memberFromDept">
		<id column="EMP_NO" property="empNo"/>
		<result column="EMP_NAME" property="empName"/>
		<result column="EMP_POSITION" property="empPosition"/>
		<result column="PHONE" property="phone"/>
		<result column="DEP_NO" property="depNo"/>
		<!-- <result column="DEP_NAME" property="depName"/> -->
	</resultMap>
	
</mapper>
