<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="hr">
	<select id="getTeamList" resultType="memberDto">
		SELECT * FROM HR
		WHERE RESIGN_YN = 'N'
	</select>
	
	<select id="getDeptList" resultType="deptDto">
		SELECT * 
		FROM DEPARTMENT
		WHERE DEP_DEL = 'N'
        order by dep_name
	</select>
	
	<select id="cntDepName" resultType="int">
		SELECT COUNT(*) 
		FROM DEPARTMENT
		WHERE DEP_NAME = #{depName} and DEP_DEL = 'N'
	</select>
	
	<insert id="insertDept" parameterType="deptDto">
		INSERT INTO 
		DEPARTMENT (
					DEP_NO, 
					DEP_NAME
		) VALUES (
					SEQ_DEPARTMENT_DEP_NO.nextval, 
					#{depName}
		)
	</insert>
	
	<update id="updDeptName">
		UPDATE DEPARTMENT
		SET DEP_NAME = #{depChange}
		WHERE DEP_NAME = #{depName}
	</update>
	
	<update id="delDeptName">
		UPDATE DEPARTMENT
		SET DEP_DEL = 'Y'
		WHERE DEP_NAME = #{depName}
	</update>
	
	<!-- teamList 화면에 부서별 사원리스트 보여주기 -->
	<select id="getMemberListByDept" resultType="memberDto">
		SELECT * 
		FROM HR
		WHERE DEP_NAME = #{deptName}
		AND RESIGN_YN = 'N'
	</select>
	
	<!-- 내 팀리스트 가져오기 -->
	<select id="getMyTeamList" resultType="memberDto">
		SELECT * FROM HR
		WEHRE RESIGN_YN = 'N'
	</select>
	
	<!-- empNo 로 사원정보 불러오기 -->
	<select id="getMember" parameterType="memberDto" resultType="memberDto">
		SELECT * 
		FROM HR H LEFT JOIN ACADEMIC A
		                ON H.EMP_NO = A.EMP_NO
		          LEFT JOIN CAREER C
		                ON A.EMP_NO = C.EMP_NO
		          LEFT JOIN INSANOTE I
		                ON C.EMP_NO = I.EMP_NO
		WHERE H.EMP_NO = {empNo};
	</select>
	
	<!-- 인사정보 페이지 수정하기  -->
	<update id="editInsaPage" parameterType="memberDto">
		UPDATE HR
		SET
			 DEP_NAME = #{depName}
			,EMP_RANK = #{empRank}
			,EMP_POSITION = #{empPosition}
			,ENTRY_DATE = #{entryDate}
		WHERE EMP_NO = #{empNo}
	</update>
	
	<!-- 기본정보 페이지 수정하기 -->
	<update id="editBasicPage" parameterType="memberDto">
		UPDATE HR
		SET
			 EMAIL = #{email}
			,EMP_NAME = #{empName}
			,EMP_INFO = #{empInfo}
			,PHONE = #{phone}
			,RESI_NO = #{resiNo}
			,ADDRESS = #{address}
			,BANK = #{bank}
		WHERE EMP_NO = #{empNo}
	</update>
	
	
	
	<!-- <resultMap type="memberDto" id="memberFromDept">
		<id column="EMP_NO" property="empNo"/>
		<result column="EMP_NAME" property="empName"/>
		<result column="EMP_POSITION" property="empPosition"/>
		<result column="PHONE" property="phone"/>
		<result column="DEP_NO" property="depNo"/>
		<result column="DEP_NAME" property="depName"/>
	</resultMap> -->
	
	
</mapper>
