<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>

	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
		<setting name="jdbcTypeForNull" value="NULL"/>	
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
  
  	<typeAliases>
  		<typeAlias type="com.kh.helloffice.member.entity.MemberDto" alias="memberDto"/>
  		<typeAlias type="com.kh.helloffice.board.entity.BoardDto" alias="board"/>
  		<typeAlias type="com.kh.helloffice.board.entity.PostDto" alias="post"/>
  		<typeAlias type="com.kh.helloffice.workflow.entity.TagDto" alias="tagDto"/>
  		<typeAlias type="com.kh.helloffice.reservation.entity.AssetDto" alias="asset"/>
  		<typeAlias type="com.kh.helloffice.reservation.entity.ReservationDto" alias="reservation"/>
  		<typeAlias type="com.kh.helloffice.reservation.entity.ReservManagerDto" alias="manager"/>
  		<typeAlias type="com.kh.helloffice.work.entity.WorkDto" alias="workDto"/>
  		<typeAlias type="com.kh.helloffice.work.entity.OffDto" alias="offDto"/>
  		<typeAlias type="com.kh.helloffice.work.entity.WorkEditDto" alias="workEditDto"/>
  		<typeAlias type="com.kh.helloffice.work.entity.UrgeDto" alias="urgeDto"/>
  		<typeAlias type="com.kh.helloffice.work.entity.CalDto" alias="calDto"/>
  		<typeAlias type="com.kh.helloffice.workflow.entity.WfFormDto" alias="wfFormDto"/>
  		<typeAlias type="com.kh.helloffice.hr.entity.DeptDto" alias="deptDto"/>
  		<typeAlias type="com.kh.helloffice.hr.entity.AcademicDto" alias="academic"/>
  		<typeAlias type="com.kh.helloffice.hr.entity.CareerDto" alias="career"/>
  		<typeAlias type="com.kh.helloffice.hr.entity.AllDto" alias="allDto"/>
  		<typeAlias type="com.kh.helloffice.hr.entity.InsaNoteDto" alias="insanote"/>
  		<typeAlias type="com.kh.helloffice.todo.entity.ToDoDto" alias="todo"/>
  		<typeAlias type="com.kh.helloffice.calendar.entity.EventDto" alias="event"/>
		<typeAlias type="com.kh.helloffice.workflow.entity.WfDocDto" alias="wfDocDto"/>

  	</typeAliases>
  
</configuration>