<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="off">
	
	<!-- 휴가 생성 전체 목록 조회 -->
	<select id="adminListAll" resultType="offDto">
		<include refid="pagingHeader"></include>
			SELECT *
			FROM OFF
			<include refid="search"></include>
			ORDER BY OFF_NO DESC
		<include refid="pagingFooter"></include>
	</select>
	
	<!-- 휴가 갯수 -->
	<select id="offCountArticle" resultType="int">
		SELECT COUNT(*) FROM OFF
		<!-- WHERE절을 include 태그로 삽입 -->
		<include refid="search"></include>
	</select>
	
	
	<!-- 휴가 생성 -->
	<insert id="insert">
		INSERT INTO OFF(
			 OFF_NO
			,EMP_NO
			,DEP_NAME
			,OFF_TYPE
			,OFF_PAY
			,OFF_OX
			,OFF_START
			,OFF_END
			,OFF_DAY
			,OFF_CONTENT
		)VALUES(
			OFF_SEQ.nextval
			,#{empNo}
			,#{depName}
			,#{offType}
			,#{offPay}
			,DEFAULT
			,#{offStart}
			,#{offEnd}
			,DEFAULT
			,#{offContent}
		)
	</insert>
	
	<!-- 휴가 상세보기 조회 -->
	<select id="view" resultType="offDto">
		SELECT * FROM OFF
		WHERE OFF_NO = #{offNo}
	</select>
	
	<!-- 휴가 조회수 증가 -->
	<!-- <update id="increaseViewcnt">
		UPDATE OFF SET VIEWCNT = VIEWCNT + 1
		WHERE OFF_NO = #{offNo}
	</update>
	 -->
	 
	 <!-- 휴가 수정 -->
	 <update id="updateArticle">
	 	UPDATE OFF SET
	 		EMP_NO 		= #{empNo}
			,DEP_NAME 	= #{depName}
			,OFF_TYPE 	= #{offType}
			,OFF_PAY	= #{offPay}
			,OFF_OX 	= #{offOx}
			,OFF_START  = #{offStart}
			,OFF_END	= #{offEnd}
			,OFF_CONTENT= #{offContent}
			,OFF_DAY = #{offDay}
	 	WHERE OFF_NO = #{offNo}
	 </update>
	 
	 <!-- 휴가 삭제 -->
	 <delete id="deleteArticle">
	 DELETE FROM OFF
	 WHERE OFF_NO = #{offNo}
	 </delete>
	 
	 <!-- 잔여 연차 조회 -->
	 <select id="mainOffList" resultType="offDto">
	 SELECT * FROM OFF
	 WHERE (OFF_TYPE = '개근 연차 휴가' OR OFF_TYPE = '정기 연차 휴가') AND OFF_OX = 'N' AND EMP_NO = #{empNo}
	 </select>
	 
	 <!-- 잔여 휴가 조회 -->
	 <select id="subOffList" resultType="offDto">
	 SELECT * FROM OFF
	 WHERE OFF_TYPE != '개근 연차 휴가' AND OFF_TYPE != '정기 연차 휴가' AND OFF_OX = 'N' AND EMP_NO = #{empNo}
	 </select>

	 <!-- 사용 예정 조회 -->
	 <select id="useDoOffList" resultType="offDto">
	 SELECT * FROM OFF
	 WHERE OFF_OX = 'Y' AND EMP_NO = #{empNo} AND OFF_DAY &gt;= TO_CHAR(SYSDATE,'YYYY-MM-DD')
	 </select>

	 <!-- 지난 휴가 조회 -->
	 <select id="usedOffList" resultType="offDto">
	 SELECT * FROM OFF
	 WHERE OFF_OX = 'Y' AND EMP_NO = #{empNo} AND OFF_DAY &lt; TO_CHAR(SYSDATE,'YYYY-MM-DD')
	 </select>
	 
	 
	 
	 
	 
	 <!-- 검색 조건 sql -->
	<sql id="search">
			<!-- 검색옵션이 전체 검색일 경우 -->
			<if test="searchOption == 'all'">
				WHERE OFF_NO like '%' || #{keyword} || '%'
				OR EMP_NO like '%' || #{keyword} || '%'
				OR DEP_NAME like '%' || #{keyword} || '%'
				OR OFF_TYPE like '%' || #{keyword} || '%'
				OR OFF_PAY like '%' || #{keyword} || '%'
				OR OFF_OX like '%' || #{keyword} || '%'
				OR OFF_START like '%' || #{keyword} || '%'
				OR OFF_END like '%' || #{keyword} || '%'
				OR OFF_DAY like '%' || #{keyword} || '%'
			</if>
			<!-- 전체 검색이 아닐 경우 -->
			<if test="searchOption == 'offNo'">
				WHERE OFF_NO like '%' || #{keyword} || '%'
			</if>
			<if test="searchOption == 'empNo'">
				WHERE EMP_NO like '%' || #{keyword} || '%'
			</if>
			<if test="searchOption == 'depName'">
				WHERE DEP_NAME like '%' || #{keyword} || '%'
			</if>
			<if test="searchOption == 'offType'">
				WHERE OFF_TYPE like '%' || #{keyword} || '%'
			</if>
			<if test="searchOption == 'offPay'">
				WHERE OFF_PAY like '%' || #{keyword} || '%'
			</if>
			<if test="searchOption == 'offOx'">
				WHERE OFF_OX like '%' || #{keyword} || '%'
			</if>
			<if test="searchOption == 'offStart'">
				WHERE OFF_START like '%' || #{keyword} || '%'
			</if>
			<if test="searchOption == 'offEnd'">
				WHERE OFF_END like '%' || #{keyword} || '%'
			</if>
			<if test="searchOption == 'offDay'">
				WHERE OFF_DAY like '%' || #{keyword} || '%'
			</if>
	</sql>
	
<!-- 페이징 sql -->
	<sql id="pagingHeader">
		SELECT * FROM (
			SELECT ROWNUM AS rn, A.* FROM(
	</sql>
	<sql id="pagingFooter">
			) A
		) WHERE rn BETWEEN #{start} AND #{end}
	</sql>
	</mapper>
