<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="reservation">
	<insert id="insertAsset">
		INSERT INTO ASSET
		VALUES(
			ASSET_SEQ.NEXTVAL,
			#{assetName},
			#{assetType},
			#{assetDetail},
			#{approval},
			#{returning}
		)
	</insert>
	
	<select id="getAssetList" resultType="asset">
		SELECT * FROM ASSET
		WHERE ASSET_TYPE = #{assetType}
	</select>
	
	<select id="getAsset" resultType="asset">
		SELECT * FROM ASSET
		WHERE ASSET_NO = #{no}
	</select>
	
	<insert id="addReservation">
		INSERT INTO RESERVATION
		VALUES(
			RESERVATION_SEQ.NEXTVAL,
			#{assetNo},
			#{empNo},
			#{startTime},
			#{endTime},
			#{reason},
			#{status}
		)
	</insert>
	
	<select id="getDailyReserv" resultType="reservation">
		SELECT 
			A.ASSET_NO,
			A.ASSET_NAME,
			R.RESERV_NO,
			R.START_TIME,
			R.END_TIME,
			H.EMP_NAME
		FROM RESERVATION R
		JOIN ASSET A ON R.ASSET_NO = A.ASSET_NO
		JOIN HR H ON H.EMP_NO = R.EMP_NO
		WHERE A.ASSET_TYPE = #{type}
		AND R.START_TIME &gt; #{targetDate}
		AND R.END_TIME &lt; (#{targetDate} + 1)
	</select>
	
	<select id="getApproval" resultType="string">
		SELECT APPROVAL FROM ASSET
		WHERE ASSET_NO = #{assetNo}
	</select>
	
	<select id="getPersonalReserve" resultType="reservation">
		SELECT 
			R.RESERV_NO,
			R.ASSET_NO,
			R.START_TIME,
			R.END_TIME,
			R.REASON,
			R.STATUS,
			A.ASSET_NAME
		FROM RESERVATION R
		JOIN ASSET A ON R.ASSET_NO = A.ASSET_NO
		WHERE EMP_NO = #{empNo}
			AND ASSET_TYPE = #{assetType}
			AND R.END_TIME > SYSDATE
		ORDER BY R.START_TIME
	</select>
	
	<select id="getReserveList" resultType="reservation">
		SELECT
			R.RESERV_NO,
			A.ASSET_NAME,
			R.START_TIME,
			R.END_TIME,
			R.REASON,
			R.STATUS,
			H.EMP_NAME
		FROM RESERVATION R
		JOIN ASSET A ON R.ASSET_NO = A.ASSET_NO
		JOIN HR H ON H.EMP_NO = R.EMP_NO
		WHERE A.ASSET_TYPE = #{type}
			AND R.END_TIME > SYSDATE
		ORDER BY R.RESERV_NO
	</select>
	
	<update id="updateStatus">
		UPDATE RESERVATION
		SET STATUS = #{status}
		WHERE RESERV_NO = #{reservNo}
	</update>
	
	<delete id="deleteReservation">
		DELETE FROM RESERVATION
		WHERE RESERV_NO = #{reservNo}
	</delete>
	
	<delete id="deleteAsset">
		DELETE FROM ASSET
		WHERE ASSET_NO = #{no}
	</delete>
	
	<update id="updateAsset">
		UPDATE ASSET
		SET 
			ASSET_NAME = #{assetName},
			ASSET_DETAIL = #{assetDetail},
			APPROVAL = #{approval},
			RETURNING = #{returning}
		WHERE ASSET_NO = #{assetNo}
	</update>
	
	<insert id="insertManager">
		INSERT INTO RESERV_MANAGER(
			EMP_NO,
			<choose>
				<when test="type eq 'room'">LEVEL_ROOM</when>
				<when test="type eq 'car'">LEVEL_CAR</when>
				<when test="type eq 'supply'">LEVEL_SUPPLY</when>
			</choose>
		)
		VALUES(
			#{empNo},
			#{level}
		)
	</insert>
	
	<select id="getManager" resultType="manager">
		SELECT * FROM RESERV_MANAGER
		WHERE EMP_NO = #{empNo}
	</select>
	
	<update id="updateManager">
		UPDATE RESERV_MANAGER
		SET
			<choose>
				<when test="type eq 'room'">LEVEL_ROOM = #{level}</when>
				<when test="type eq 'car'">LEVEL_CAR = #{level}</when>
				<when test="type eq 'supply'">LEVEL_SUPPLY = #{level}</when>
			</choose>
		WHERE EMP_NO = #{empNo}
	</update>
	
	<select id="getManagerList" resultType="manager">
		SELECT 
			R.EMP_NO,
			H.EMP_NAME,
			H.DEP_NAME,
			H.EMP_RANK,
			<choose>
				<when test="type eq 'room'">R.LEVEL_ROOM</when>
				<when test="type eq 'car'">R.LEVEL_CAR</when>
				<when test="type eq 'supply'">R.LEVEL_SUPPLY</when>
			</choose> 
		FROM RESERV_MANAGER R
		JOIN HR H ON H.EMP_NO = R.EMP_NO
		WHERE
		<choose>
			<when test="type eq 'room'">R.LEVEL_ROOM &gt; 0</when>
			<when test="type eq 'car'">R.LEVEL_CAR &gt; 0</when>
			<when test="type eq 'supply'">R.LEVEL_SUPPLY &gt; 0</when>
		</choose>
	</select>
	
	<update id="deleteManager">
		UPDATE RESERV_MANAGER
		SET
			<choose>
				<when test="type eq 'room'">LEVEL_ROOM = 0</when>
				<when test="type eq 'car'">LEVEL_CAR = 0</when>
				<when test="type eq 'supply'">LEVEL_SUPPLY = 0</when>
			</choose>
		WHERE EMP_NO = #{empNo}
	</update>
	
	<select id="getManagerLevel" resultType="int">
		SELECT
		<choose>
			<when test="type eq 'room'">LEVEL_ROOM</when>
			<when test="type eq 'car'">LEVEL_CAR</when>
			<when test="type eq 'supply'">LEVEL_SUPPLY</when>
		</choose>
		FROM RESERV_MANAGER
		WHERE EMP_NO = #{empNo}
	</select>
</mapper>
