<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="reservation">
	<insert id="insertAsset">
		INSERT INTO ASSET
		VALUES(
			ASSET_SEQ.NEXTVAL,
			#{assetName},
			#{assetType},
			#{assetDetail},
			#{approval},
			#{returning}
		)
	</insert>
	
	<select id="getAssetList" resultType="asset">
		SELECT * FROM ASSET
		WHERE ASSET_TYPE = #{assetType}
	</select>
	
	<select id="getAsset" resultType="asset">
		SELECT * FROM ASSET
		WHERE ASSET_NO = #{no}
	</select>
	
	<insert id="addReservation">
		INSERT INTO RESERVATION
		VALUES(
			RESERVATION_SEQ.NEXTVAL,
			#{assetNo},
			#{empNo},
			#{startTime},
			#{endTime},
			#{reason}
		)
	</insert>
</mapper>
