<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="workflow">
	<!--태그 리스트 -->
	<select id="selectTagList" resultType="tagDto">
		SELECT * FROM WOF_TAG
		WHERE TAG_DEL = 'N'
	</select>

	<!-- 태그 넣기 -->
	<insert id="insertTag" parameterType="tagDto">
		INSERT INTO WOF_TAG (TAG_NO, TAG_NAME)
		VALUES (SEQ_WOF_TAG_NO.nextval, #{tagName})
	</insert> 
	
	<!-- 태그 삭제 -->
	<update id="deleteTag">
		UPDATE WOF_TAG
		SET TAG_DEL = 'Y'
		WHERE TAG_NAME = #{tagName}
	</update>
	
	<!-- 태그 하나 고르기 -->
	<select id="selectTagOne" resultType="tagDto">
		SELECT *
		FROM WOF_TAG
		WHERE TAG_NAME = #{targetName}
	</select>
	
	<!-- 태그 수정 -->
	<update id="updateTag">
		UPDATE WOF_TAG
		SET TAG_NAME = #{toChange}
		WHERE TAG_NAME = #{tagName}
	</update>
	
	<!-- 태그 중복 체크 -->
	<select id="countTagName" resultType="int">
		SELECT COUNT (*)
		FROM WOF_TAG
		WHERE TAG_NAME = #{tagName} AND TAG_DEL = 'N'
	</select>
	
</mapper>