<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="workflow">
	<!--태그 리스트 -->
	<select id="selectTagList" resultType="tagDto">
		SELECT * FROM WOF_TAG
		WHERE TAG_DEL = 'N'
	</select>

	<!-- 태그 넣기 -->
	<insert id="insertTag" parameterType="tagDto">
		INSERT INTO WOF_TAG (TAG_NO, TAG_NAME)
		VALUES (SEQ_WOF_TAG_NO.nextval, #{tagName})
	</insert> 
	
	<!-- 태그 삭제 -->
	<update id="deleteTag">
		UPDATE WOF_TAG
		SET TAG_DEL = 'Y'
		WHERE TAG_NAME = #{tagName}
	</update>
	
	<!-- 태그 하나 고르기 -->
	<select id="selectTagOne" resultType="tagDto">
		SELECT *
		FROM WOF_TAG
		WHERE TAG_NAME = #{targetName}
	</select>
	
	<!-- 태그 수정 -->
	<update id="updateTag">
		UPDATE WOF_TAG
		SET TAG_NAME = #{toChange}
		WHERE TAG_NAME = #{tagName}
	</update>
	
	<!-- 태그 중복 체크 -->
	<select id="countTagName" resultType="int">
		SELECT COUNT (*)
		FROM WOF_TAG
		WHERE TAG_NAME = #{tagName} AND TAG_DEL = 'N'
	</select>
	
	<!-- 워크플로우 양식 리스트(전체) -->
	<select id="selectWfFormList" resultType="wfFormDto">
		SELECT DISTINCT FORM_NO, FORM_NAME, tag.TAG_NAME
		FROM WOF_FORM form
		LEFT JOIN WOF_TAG tag ON(form.TAG_NO = tag.TAG_NO)
		ORDER BY form.FORM_NO
	</select>
	
	<!-- 태그별로 양식 리스트(부분) -->
	<select id="selectFormByTag" resultType="wfFormDto">
		SELECT DISTINCT FORM_NO, FORM_NAME, tag.TAG_NAME
		FROM WOF_FORM form
		LEFT JOIN WOF_TAG tag ON(form.TAG_NO = tag.TAG_NO)
		WHERE tag.TAG_NO = #{tagNo}
		ORDER BY form.FORM_NO
	</select>
	
	<!-- 양식 삭제 -->
	<delete id="deleteForm" parameterType="wfFormDto">
		DELETE FROM WOF_FORM
		WHERE FORM_NO = #{formNo}
		
		<!-- DELETE FROM WOF_T_FORM
		WHERE FORM_T_NO = #{formNo}
	
		DELETE FROM WOF_FORM
		WHERE FORM_NO = #{formNo} -->
	</delete>
	
	<!-- 양식 생성 - 폼 PK -->
	<insert id="insertForm" parameterType="hashmap">
		INSERT INTO WOF_T_FORM
		VALUES (SEQ_WOF_T_FORM_NO.NEXTVAL, #{formName}, #{formDetail})
	</insert>

	<!-- 양식 생성 - CON -->
	<insert id="insertCon" parameterType="hashmap">
		INSERT INTO WOF_FORM(FORM_NO, FORM_NAME, FORM_DETAIL, FORM_CON, TAG_NO, ORDER_PK)
		VALUES(FN_GET_CURR_SEQ('SEQ_WOF_T_FORM_NO'), #{formName}, #{formDetail}, #{conDb}, #{tagNo}, FN_GET_NEXT_SEQ('SEQ_WOF_FORM_ORDER'))
	</insert>
	
	<!-- 양식 생성 - 커스텀 - 폼 이름, 설명, 태그, 문자, 숫자, 날짜, 선택 등 -->
	<update id="insertCus" parameterType="hashmap">
		<foreach collection="acList" item="acl" separator=" " open="INSERT ALL" close="SELECT * FROM DUAL" >
		<choose>
			<when test='acl.cusType  == "복수 선택" or acl.cusType  == "선택 입력"'>
			INTO WOF_FORM VALUES(FN_GET_CURR_SEQ('SEQ_WOF_T_FORM_NO'), #{formName}, #{formDetail}, #{conDb}, #{cusFile.beFile_},
				#{acl.cusType}, #{acl.cusName}, #{acl.cusReq}, #{acl.cusOrder}, #{tagNo}, FN_GET_NEXT_SEQ('SEQ_WOF_FORM_ORDER'))
 			INTO WOF_FORM VALUES(FN_GET_CURR_SEQ('SEQ_WOF_T_FORM_NO'), #{formName}, #{formDetail}, #{conDb}, #{cusFile.beFile_},
				'옵션',  
				<foreach collection="acl.cusOp" item="cop"  index="i" separator="^" open="'" close="'">${acl.cusOp[i]}</foreach>
							, null, #{acl.cusOrder}, #{tagNo}, FN_GET_NEXT_SEQ('SEQ_WOF_FORM_ORDER'))
			</when>
			<otherwise>
			INTO WOF_FORM VALUES(FN_GET_CURR_SEQ('SEQ_WOF_T_FORM_NO'), #{formName}, #{formDetail}, #{conDb}, #{cusFile.beFile_},
				#{acl.cusType}, #{acl.cusName}, #{acl.cusReq}, #{acl.cusOrder}, #{tagNo}, FN_GET_NEXT_SEQ('SEQ_WOF_FORM_ORDER'))
			</otherwise>
		</choose>
		</foreach>	
	</update>
	
	<!-- 양식 생성 - 승인 -->
	<update id="insertApp" parameterType="hashmap">
		<foreach collection="appList" item="apl" separator=" " open="INSERT ALL" close="SELECT * FROM DUAL" >
			<foreach collection="apl.stepArr" item="sar" >
			INTO WOF_APP VALUES(FN_GET_CURR_SEQ('SEQ_WOF_T_FORM_NO'), #{apl.stepOrder}, 
				(SELECT EMP_NO
				 FROM HR
				 WHERE EMP_NAME = #{sar}
				), FN_GET_NEXT_SEQ('SEQ_WOF_APP_ORDER')
			)
			</foreach>
		</foreach>
	</update>
	
	<!-- 이름으로 양식(cus제외) 조회 -->
	<select id="selectEachForm" resultType="wfFormDto">
		SELECT *
		FROM WOF_FORM form
		LEFT JOIN WOF_TAG tag ON(form.TAG_NO = tag.TAG_NO)
		WHERE form.FORM_NO = #{formNo}
		ORDER BY ORDER_PK
	</select>
	
	<!-- 이름으로 각 양식의 승인단계 조회 -->
	<select id="selectEachStep" resultType="wfFormDto">
		SELECT TF.*, AP.*, H.EMP_NAME
		FROM WOF_T_FORM TF
		LEFT JOIN WOF_APP AP ON(TF.FORM_T_NO = AP.FORM_NO)
		LEFT JOIN HR H ON(AP.REF_EMP_NO = H.EMP_NO)
		WHERE FORM_T_NO = #{formNo}
			AND APP_STEP IS NOT NULL
		ORDER BY APP_STEP
	</select>
<!-- 		WHERE FORM_T_NO = 
				(SELECT DISTINCT FORM_NO
				FROM WOF_FORM
				WHERE FORM_NAME = ) -->
	
	<!-- 문서 생성 - PK, 작성자, 작성일자, 참고한 양식 -->
	<insert id="insertDoc" parameterType="hashmap">
		INSERT INTO WOF_T_DOC 
		VALUES(SEQ_WOF_T_DOC_NO.NEXTVAL, 
				(SELECT EMP_NO FROM HR WHERE EMP_NAME = #{docMaker}), 
			   TO_CHAR(SYSDATE, 'YYYY.MM.DD (DY) HH24:MI'), 
				#{formNo},
			   'N', '대기'
		)		
	</insert>
<!-- 				(SELECT FORM_T_NO FROM WOF_T_FORM WHERE FORM_T_NO = #{formNo}), -->
	
	<!-- 문서 생성 - con -->
	<insert id="insertDocCon" parameterType="hashmap">
		INSERT INTO WOF_DOC(DOC_NO, DOC_NAME, CON_DB, ORDER_DOC_PK)
		VALUES(FN_GET_CURR_SEQ('SEQ_WOF_T_DOC_NO'),
			(SELECT SUBSTR(WRITE_DATE, 1, 4) || '-' || TO_CHAR(DOC_T_NO)
		    FROM WOF_T_DOC
		    WHERE DOC_T_NO = FN_GET_CURR_SEQ('SEQ_WOF_T_DOC_NO')),
		    #{conDb}, FN_GET_NEXT_SEQ('SEQ_WOF_DOC_ORDER'))
		
	</insert>
	
	<!-- 문서 생성 - CON, 문서이름, 커스텀 양식들 -->
	<update id="insertDocCus" parameterType="hashmap">
		<foreach collection="acList" item="acl" separator=" " open="INSERT ALL" close="SELECT * FROM DUAL" >
		INTO WOF_DOC 
		VALUES(FN_GET_CURR_SEQ('SEQ_WOF_T_DOC_NO'), 
			(SELECT SUBSTR(WRITE_DATE, 1, 4) || '-' || TO_CHAR(DOC_T_NO)
		    FROM WOF_T_DOC
		    WHERE DOC_T_NO = FN_GET_CURR_SEQ('SEQ_WOF_T_DOC_NO')), 
		    #{conDb}, #{acl.cusType}, #{acl.cusLabel}, #{acl.eachData}, #{acl.cusReq},
		    #{acl.cusOrder}, FN_GET_NEXT_SEQ('SEQ_WOF_DOC_ORDER')		
		)
		</foreach>
	</update>
	
	<!-- 문서 생성 - 승인 -->
	<update id="insertDocApp" parameterType="hashmap">
		<foreach collection="appList" item="apl" separator=" " open="INSERT ALL" close="SELECT * FROM DUAL" >
			<foreach collection="apl.stepArr" item="sar" >
			INTO WOF_DOC_APP VALUES(FN_GET_CURR_SEQ('SEQ_WOF_T_DOC_NO'), #{apl.stepOrder}, 
				(SELECT EMP_NO
				 FROM HR
				 WHERE EMP_NAME = #{sar}
				), '0', '승인대기', FN_GET_NEXT_SEQ('SEQ_WOF_DOC_APP_ORDER')
			)
			</foreach>
		</foreach>
	</update>
	
<!-- 			<when test="acl.cusOp != null"> -->
		<!-- <choose>
			<when test='acl.cusType == "문자"'>
			INTO WOF_CHAR VALUES (FN_GET_NEXT_SEQ('SEQ_WOF_CHAR_NO'), #{acl.cusName}, NULL, #{acl.cusReq}, FN_GET_CURR_SEQ('SEQ_WOF_FORM_NO'))
			</when>
			<when test='acl.cusType  == "숫자"'>
			INTO WOF_NUM VALUES (FN_GET_NEXT_SEQ('SEQ_WOF_NUM_NO'), #{acl.cusName}, NULL, #{acl.cusReq}, FN_GET_CURR_SEQ('SEQ_WOF_FORM_NO'))
			</when>
			<when test='acl.cusType == "날짜"'>
			INTO WOF_DATE VALUES (FN_GET_NEXT_SEQ('SEQ_WOF_DATE_NO'), #{acl.cusName}, NULL, #{acl.cusReq}, FN_GET_CURR_SEQ('SEQ_WOF_FORM_NO'))
			</when>
			<when test='acl.cusType  == "복수 선택"'>
			INTO WOF_CHOICE VALUES (FN_GET_NEXT_SEQ('SEQ_WOF_CHOICE_NO'), #{acl.cusName}, 'C', #{acl.cusReq}, FN_GET_CURR_SEQ('SEQ_WOF_FORM_NO'))
				<foreach collection="acl.cusOp" item="cop"  separator=" ">
					INTO WOF_OPTION VALUES (FN_GET_NEXT_SEQ('SEQ_WOF_OPTION_NO'), #{cop}, 'N', FN_GET_CURR_SEQ('SEQ_WOF_CHOICE_NO'))
				</foreach>
			</when>
			<when test='acl.cusType  == "선택 입력"'>
			INTO WOF_CHOICE VALUES (FN_GET_NEXT_SEQ('SEQ_WOF_CHOICE_NO'), #{acl.cusName}, 'R', #{acl.cusReq}, FN_GET_CURR_SEQ('SEQ_WOF_FORM_NO'))
				<foreach collection="acl.cusOp" item="cop"  separator=" " >
					INTO WOF_OPTION VALUES (FN_GET_NEXT_SEQ('SEQ_WOF_OPTION_NO'), #{cop}, 'N', FN_GET_CURR_SEQ('SEQ_WOF_CHOICE_NO'))
				</foreach>
			</when>
		</choose> -->
	
	<!-- 양식 & 태그 조인 resultMap -->
	<!-- <resultMap type="wfFormDto" id="formAndTag">
		<id column="FORM_NO" property="formNo"/>
		<result column="FORM_NAME" property="formName"/>
		<result column="FORM_DETAIL" property="formDetail"/>
		<association column="TAG_NO" property="tagDto" javaType="TagDto">
			<id column="TAG_NO" property="tagNo"/>
			<result column="TAG_NAME" property="tagName"/>
			<result column="TAG_DEL" property="tagDel"/>
		</association>
	</resultMap> -->
	
</mapper>