<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="workflow">
	<!--태그 리스트 -->
	<select id="selectTagList" resultType="tagDto">
		SELECT * FROM WOF_TAG
		WHERE TAG_DEL = 'N'
	</select>

	<!-- 태그 넣기 -->
	<insert id="insertTag" parameterType="tagDto">
		INSERT INTO WOF_TAG (TAG_NO, TAG_NAME)
		VALUES (SEQ_WOF_TAG_NO.nextval, #{tagName})
	</insert> 
	
	<!-- 태그 삭제 -->
	<update id="deleteTag">
		UPDATE WOF_TAG
		SET TAG_DEL = 'Y'
		WHERE TAG_NAME = #{tagName}
	</update>
	
	<!-- 태그 하나 고르기 -->
	<select id="selectTagOne" resultType="tagDto">
		SELECT *
		FROM WOF_TAG
		WHERE TAG_NAME = #{targetName}
	</select>
	
	<!-- 태그 수정 -->
	<update id="updateTag">
		UPDATE WOF_TAG
		SET TAG_NAME = #{toChange}
		WHERE TAG_NAME = #{tagName}
	</update>
	
	<!-- 태그 중복 체크 -->
	<select id="countTagName" resultType="int">
		SELECT COUNT (*)
		FROM WOF_TAG
		WHERE TAG_NAME = #{tagName} AND TAG_DEL = 'N'
	</select>
	
	<!-- 워크플로우 양식 리스트(전체) -->
	<select id="selectWfFormList" resultType="wfFormDto">
		SELECT form.FORM_NO, form.FORM_NAME, form.FORM_DETAIL, tag.TAG_NO, tag.TAG_NAME, tag.TAG_DEL
		FROM WOF_FORM form
		LEFT JOIN WOF_TAG tag ON(form.TAG_NO = tag.TAG_NO)
		ORDER BY form.FORM_NO
	</select>
	
	<!-- 태그별로 양식 리스트(부분) -->
	<select id="selectFormByTag" resultType="wfFormDto">
		SELECT *
		FROM WOF_FORM form
		LEFT JOIN WOF_TAG tag ON(form.TAG_NO = tag.TAG_NO)
		WHERE tag.TAG_NO = #{tagNo}
		ORDER BY form.FORM_NO
	</select>
	
	<!-- 양식 삭제 -->
	<delete id="deleteForm" parameterType="wfFormDto">
		DELETE FROM WOF_FORM form
		WHERE form.FORM_NAME = #{formName}
	</delete>
	
	<!-- 양식 생성 - 폼 이름, 설명, 태그 -->
	<insert id="insertForm" parameterType="hashmap">
		INSERT INTO WOF_FORM 
		VALUES (SEQ_WOF_FORM_NO.NEXTVAL, #{formName}, #{formDetail}, #{tagNo})
	</insert>

	<!-- 양식 커스텀 - 내용 -->
	<insert id="insertCon" parameterType="hashmap">
		INSERT INTO WOF_CON
		VALUES (SEQ_WOF_CON_NO.NEXTVAL, #{conDb}, SEQ_WOF_FORM_NO.CURRVAL)
	</insert>
<!-- 		<if test="cusDb != null and cusDb != ''">
		INTO WOF_CON
		VALUES (FN_GET_NEXT_SEQ('SEQ_WOF_CON_NO'), #{cusDb}, FN_GET_CURR_SEQ('SEQ_WOF_FORM_NO'))
		</if> -->
		
	<!-- 양식 커스텀 - 첨부파일 -->
	<insert id="insertFile" parameterType="hashmap">
		INSERT INTO WOF_FILE
		VALUES (SEQ_WOF_FILE_NO.NEXTVAL, NULL, NULL, #{fileReq_}, SEQ_WOF_FORM_NO.CURRVAL, 0)
	</insert>
	
	<!-- 양식 커스텀 - 문자, 숫자, 날짜, 선택 등 -->
	<update id="insertCus" parameterType="hashmap">
		<foreach collection="acList" item="acl" separator=" " open="INSERT ALL" close="SELECT * FROM DUAL" >
		<choose>
			<when test='acl.cusType == "문자"'>
			INTO WOF_CHAR VALUES (FN_GET_NEXT_SEQ('SEQ_WOF_CHAR_NO'), #{acl.cusName}, NULL, #{acl.cusReq}, FN_GET_CURR_SEQ('SEQ_WOF_FORM_NO'))
			</when>
			<when test='acl.cusType  == "숫자"'>
			INTO WOF_NUM VALUES (FN_GET_NEXT_SEQ('SEQ_WOF_NUM_NO'), #{acl.cusName}, NULL, #{acl.cusReq}, FN_GET_CURR_SEQ('SEQ_WOF_FORM_NO'))
			</when>
			<when test='acl.cusType == "날짜"'>
			INTO WOF_DATE VALUES (FN_GET_NEXT_SEQ('SEQ_WOF_DATE_NO'), #{acl.cusName}, NULL, #{acl.cusReq}, FN_GET_CURR_SEQ('SEQ_WOF_FORM_NO'))
			</when>
			<when test='acl.cusType  == "복수 선택"'>
			INTO WOF_CHOICE VALUES (FN_GET_NEXT_SEQ('SEQ_WOF_CHOICE_NO'), #{acl.cusName}, 'C', #{acl.cusReq}, FN_GET_CURR_SEQ('SEQ_WOF_FORM_NO'))
				<foreach collection="acl.cusOp" item="cop"  separator=" ">
					INTO WOF_OPTION VALUES (FN_GET_NEXT_SEQ('SEQ_WOF_OPTION_NO'), #{cop}, 'N', FN_GET_CURR_SEQ('SEQ_WOF_CHOICE_NO'))
				</foreach>
			</when>
			<when test='acl.cusType  == "선택 입력"'>
			INTO WOF_CHOICE VALUES (FN_GET_NEXT_SEQ('SEQ_WOF_CHOICE_NO'), #{acl.cusName}, 'R', #{acl.cusReq}, FN_GET_CURR_SEQ('SEQ_WOF_FORM_NO'))
				<foreach collection="acl.cusOp" item="cop"  separator=" " >
					INTO WOF_OPTION VALUES (FN_GET_NEXT_SEQ('SEQ_WOF_OPTION_NO'), #{cop}, 'N', FN_GET_CURR_SEQ('SEQ_WOF_CHOICE_NO'))
				</foreach>
			</when>
		</choose>
		</foreach>	
	</update>
	
	<!-- 양식 & 태그 조인 resultMap -->
	<!-- <resultMap type="wfFormDto" id="formAndTag">
		<id column="FORM_NO" property="formNo"/>
		<result column="FORM_NAME" property="formName"/>
		<result column="FORM_DETAIL" property="formDetail"/>
		<association column="TAG_NO" property="tagDto" javaType="TagDto">
			<id column="TAG_NO" property="tagNo"/>
			<result column="TAG_NAME" property="tagName"/>
			<result column="TAG_DEL" property="tagDel"/>
		</association>
	</resultMap> -->
	
</mapper>