<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="work">
	<insert id="insert" parameterType="workDto">
		INSERT INTO WORK_INOUT 
		(
			 INOUT_NO
			,EMP_NO
			,IN_DATE
			,IN_TIME
			,OUT_TIME
		) 
		VALUES 
		(
			 1
			,2
			,SYSDATE
			,SYSDATE
			,DEFAULT
		)
	</insert>
	
	<select id="selectAll" resultType="workDto">
		SELECT *
		FROM WORK_INOUT
	</select>
</mapper>
