<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="work">
	<insert id="insert" parameterType="workDto">
		INSERT INTO WORK_INOUT 
		(
			 INOUT_NO
			,EMP_NO
			,IN_DATE
			,IN_TIME
			,OUT_TIME
		) 
		VALUES 
		(
			 WI_SEQ.NEXTVAL
			,${empNo}
			,TO_CHAR(SYSDATE,'YYYYMMDD')
			,TO_CHAR(SYSDATE, 'HH24MISS')
			,DEFAULT
		)
	</insert>
	
<!-- Admin 게시글 전체목록 조회 및 검색 조회까지 -->
	<select id="selectAll" resultType="workDto">
		<!-- 목록 조회 및 페이징 전체 쿼리 -->
		<include refid="pagingHeader"></include>
			SELECT *
			FROM WORK_INOUT
			<include refid="search"></include>
			ORDER BY IN_DATE DESC
		<include refid="pagingFooter"></include>
	</select>

<!-- 게시글 레코드 개수 -->	
	<select id="countArticle" resultType="int">
		SELECT COUNT(*) FROM WORK_INOUT
		<!-- WHERE절을 include 태그로 삽입 -->
		<include refid="search"></include>
	</select>
	
	<!-- 1년 게시글 레코드 개수 -->	
	<select id="yearCountArticle" resultType="int">
		SELECT COUNT(*) FROM WORK_INOUT
		WHERE IN_DATE BETWEEN 20220101 and 20221231
		<!-- WHERE절을 include 태그로 삽입 -->
		<include refid="yearSearch"></include>
		ORDER BY IN_DATE DESC
	</select>
	
	<select id="selectYearList" resultType="workDto">
		<!-- 목록 조회 및 페이징 전체 쿼리 -->
		<include refid="pagingHeader"></include>
		SELECT * 
		FROM WORK_INOUT
		WHERE IN_DATE BETWEEN 20220101 and 20221231
		<include refid="yearSearch"></include>
		ORDER BY IN_DATE DESC
		<include refid="pagingFooter"></include>
	</select>
	
	<select id="selectOneByInDate" parameterType="workDto" resultType="workDto"><!-- 전달받은 값은? parameterType에  -->
		SELECT *
		FROM WORK_INOUT
        WHERE IN_DATE = '${inDate}'
	</select>
	
	<update id="updateWork" parameterType="workDto">
		UPDATE WORK_INOUT
		SET
		IN_TIME = '${inTime}',
		OUT_TIME = '${outTime}'
		WHERE IN_DATE = '${inDate}'
	</update>
	
	<delete id="deleteWork" parameterType="workDto">
		DELETE 
		FROM WORK_INOUT
		WHERE IN_DATE = '${inDate}'
	</delete>
	
	<select id="getWorkInOut" parameterType="workDto" resultType="workDto">
		SELECT *
		FROM WORK_INOUT
		WHERE IN_DATE = TO_CHAR(SYSDATE,'YYYYMMDD')
	</select>
	
	<update id="outWork" parameterType="workDto">
		UPDATE WORK_INOUT
		SET
		OUT_TIME = TO_CHAR(SYSDATE, 'HH24MISS')
		WHERE IN_DATE = TO_CHAR(SYSDATE,'YYYYMMDD')
	</update>
	
	<select id="selectOutTime" resultType="workDto">
		SELECT OUT_TIME
		FROM WORK_INOUT
		WHERE IN_DATE = TO_CHAR(SYSDATE,'YYYYMMDD')
	</select>
	
	<select id="getWorkCnt" resultType="int">
		SELECT COUNT(*)
		FROM WORK_INOUT
	</select>
	
	<select id="selectWeekList" resultType="workDto">
		SELECT * 
		FROM WORK_INOUT
		WHERE IN_DATE BETWEEN TO_CHAR(SYSDATE,'YYYYMMDD')-7 and TO_CHAR(SYSDATE,'YYYYMMDD')
	</select>
	
	
	<select id="selectMonthList" resultType="workDto">
		SELECT * 
		FROM WORK_INOUT
		WHERE IN_DATE BETWEEN 20220301 and 20220331
		ORDER BY in_date DESC
	</select>
	
	<select id="overTime">
		SELECT (OUT_TIME-IN_TIME) AS OVERTIME FROM WORK_INOUT
		WHERE IN_DATE = TO_CHAR(SYSDATE,'YYYYMMDD') AND EMP_NO = #{empNo}
	</select>
	
	
<!-- 검색 조건 sql -->
<sql id="search">
		<!-- 검색옵션이 전체 검색일 경우 -->
		<if test="searchType == 'all'">
			WHERE EMP_NO like '%' || #{searchValue} || '%'
			OR IN_DATE like '%' || #{searchValue} || '%'
		</if>
		<!-- 전체 검색이 아닐 경우 -->
		<if test="searchType == 'empNo'">
			WHERE EMP_NO like '%' || #{searchValue} || '%'
		</if>
		<if test="searchType == 'inDate'">
			WHERE IN_DATE like '%' || #{searchValue} || '%'
		</if>
</sql>
	
<sql id="yearSearch">
		<!-- 검색옵션이 전체 검색일 경우 -->
		<if test="searchType == 'inDate'">
			AND IN_DATE like '%' || #{searchValue} || '%'
		</if>
</sql>

<!-- 페이징 sql -->
<sql id="pagingHeader">
	SELECT * FROM (
		SELECT ROWNUM AS rn, A.* FROM(
</sql>
<sql id="pagingFooter">
		) A
	) WHERE rn BETWEEN #{start} AND #{end}
</sql>


</mapper>
