<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="work">
	<insert id="insert" parameterType="workDto">
		INSERT INTO WORK_INOUT 
		(
			 INOUT_NO
			,EMP_NO
			,IN_DATE
			,IN_TIME
			,OUT_TIME
		) 
		VALUES 
		(
			 1
			,${empNo}
			,TO_CHAR(SYSDATE,'YYYY-MM-DD')
			,TO_CHAR(SYSDATE, 'HH:MI:SS')
			,TO_CHAR(SYSDATE, 'HH:MI:SS')
		)
	</insert>
	
	<select id="selectAll" resultType="workDto">
		SELECT *
		FROM WORK_INOUT
	</select>
	
	<select id="selectOneByInDate" parameterType="string" resultType="workDto"><!-- 전달받은 값은? parameterType에  -->
		SELECT *
		FROM WORK_INOUT
        WHERE IN_DATE = '${inDate}'
	</select>
	
	<update id="updateWork" parameterType="workDto">
		UPDATE WORK_INOUT
		SET
		IN_TIME = '${inTime}'
		WHERE IN_DATE = '${inDate}'
	</update>
	
	<delete id="deleteWork" parameterType="workDto">
		DELETE 
		FROM WORK_INOUT
		WHERE IN_DATE = '${inDate}'
	</delete>
</mapper>
